body {
  background-color: #2A363B; }

#avatar {
  width: 20%;
  height: 20%;
  border-radius: 50%; }

section {
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 10%; }

div {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 10%; }

article {
  float: right;
  margin-right: 10%;
  width: 67%;
  heigth: 100%; }

h1 {
  color: #99B898;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif; }

h2 {
  color: #99B898;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  border-left: 10px solid #99B898;
  background-color: gray;
  width: 85%; }

p {
  margin: 0px;
  padding: 0px;
  color: #99B898;
  font-family: "Open Sans", sans-serif; }

ul {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style-type: none; }

li {
  margin: .09px;
  padding: .09px;
  color: #99B898;
  font-family: "Open Sans", sans-serif; }

/*# sourceMappingURL=styles.css.map */
