$color1: #2C3E50
$color2: #E74C3C
$color3: #ECF0F1
$color4: #3498DB
$color5: #2980B9

$reg: 400
$bold: 700

$txt-sm: 20px
$txt-md: 30px
$txt-lg: 50px

*
	margin: 0
	padding: 0
	border: 0
	font-family: 'Oswald', sans-serif

.left-panel
	background-color: $color1
	position: fixed
	float: left
	width: 20vw
	height: 100vh

	h1, p, ul, img
		margin: 30px
		padding-left: 10px

	img
		width: 10vw
		border-radius: 100px
		margin-bottom: 0

	h1
		background-color: $color2
		color: $color3
		font-weight: $bold
		font-size: $txt-lg

	p
		color: $color3
		font-size: $txt-md

	ul
		list-style: none

		li
			padding-top: 25px
			font-size: $txt-sm

			a
				background-color: $color2
				color: $color3
				text-decoration: none
				padding: 10px

.right-panel 
	float: right
	width: 80vw
	background-color: $color3

	h1
		font-weight: $bold
		font-size: $txt-md
		background-color: $color4
		color: $color1
		padding: 15px
		margin-top: 7vh
		margin-left: 7vw
		marign-bottom: 10vh
		margin-right: 20vw

	table
		padding-left: 12vw
		font-weight: $reg
		font-size: $txt-sm
		color: $color1

		td
			width: 20vw
			height: 30px
		
		.left-tab
			width: 20vw
			text-align: right
			padding-right: 30px

		.bar1
			height: 25px
			width: 300px
			background-color: $color1
			color: $color3
			font-size: 15px
			padding-left: 5px

		.bar2
			height: 25px
			width: 270px
			background-color: $color1
			color: $color3
			font-size: 15px
			padding-left: 5px

		.bar3
			height: 25px
			width: 200px
			background-color: $color1
			color: $color3
			font-size: 15px
			padding-left: 5px