* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif; }

.left-panel {
  background-color: #2C3E50;
  position: fixed;
  float: left;
  width: 20vw;
  height: 100vh; }
  .left-panel h1, .left-panel p, .left-panel ul, .left-panel img {
    margin: 30px;
    padding-left: 10px; }
  .left-panel img {
    width: 10vw;
    border-radius: 100px;
    margin-bottom: 0; }
  .left-panel h1 {
    background-color: #E74C3C;
    color: #ECF0F1;
    font-weight: 700;
    font-size: 50px; }
  .left-panel p {
    color: #ECF0F1;
    font-size: 30px; }
  .left-panel ul {
    list-style: none; }
    .left-panel ul li {
      padding-top: 25px;
      font-size: 20px; }
      .left-panel ul li a {
        background-color: #E74C3C;
        color: #ECF0F1;
        text-decoration: none;
        padding: 10px; }

.right-panel {
  float: right;
  width: 80vw;
  background-color: #ECF0F1; }
  .right-panel h1 {
    font-weight: 700;
    font-size: 30px;
    background-color: #3498DB;
    color: #2C3E50;
    padding: 15px;
    margin-top: 7vh;
    margin-left: 7vw;
    marign-bottom: 10vh;
    margin-right: 20vw; }
  .right-panel table {
    padding-left: 12vw;
    font-weight: 400;
    font-size: 20px;
    color: #2C3E50; }
    .right-panel table td {
      width: 20vw;
      height: 30px; }
    .right-panel table .left-tab {
      width: 20vw;
      text-align: right;
      padding-right: 30px; }
    .right-panel table .bar1 {
      height: 25px;
      width: 300px;
      background-color: #2C3E50;
      color: #ECF0F1;
      font-size: 15px;
      padding-left: 5px; }
    .right-panel table .bar2 {
      height: 25px;
      width: 270px;
      background-color: #2C3E50;
      color: #ECF0F1;
      font-size: 15px;
      padding-left: 5px; }
    .right-panel table .bar3 {
      height: 25px;
      width: 200px;
      background-color: #2C3E50;
      color: #ECF0F1;
      font-size: 15px;
      padding-left: 5px; }

/*# sourceMappingURL=newerstyle.css.map */
